# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

# All files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

# cs files
[*.cs]
indent_size = 8

[*.json]
indent_size = 4
